extends layout

block content
  #olMap
    input#search(type="text", name="search" autocomplete="off")
    input#start(type="button", value="Starta")
    input#send(type="button", value="Skicka")
  script(src="/javascripts/ol.js")  
  script(src="/javascripts/olMap.js")