extends layout

block content
  #l3Map
    input#search(type="text", name="search" autocomplete="off")
    input#start(type="button", value="Starta")
    input#send(type="button", value="Skicka")
  script. 
    L_DISABLE_3D = true;
  script(src="/javascripts/leaflet.js")
  script(src="/javascripts/d3.min.js")
  script(src="/javascripts/L3Map.js")
