doctype html
html
  head
    title= title
    meta(http-equiv="Cache-Control",content="no-store")
    link(rel="stylesheet", href="stylesheets/leaflet.css")
    link(rel="stylesheet", href="stylesheets/ol.css")
    link(rel='stylesheet', href='stylesheets/style.css')
    block content
  
  
  